################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Security/FileContentIndex
/Security.Api/obj
/Security.Application/obj
/Security.Repository/obj
